<html>
  {% for item in items %}

  {% if loop.first %}
  <h1> Begin Date =  {{ item.beginDate }} || Begin Time = {{ item.beginTime }}</h1> 
  {% endif %}
  {% endfor %}
  
  {% for item in items %}
  <p> ---------------------------------<p>
  <p> KM = {{ item.km }} <p>
  <p> Open Time = {{ item.open_time }} <p>
  <p> Close Time = {{ item.close_time }} <p>
  <p> ---------------------------------<p>
    
    {% endfor %}
</html>
